container_commands:
  01_makemigrations:
    command: "source /var/app/venv/*/bin/activate && python manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate"
    leader_only: true
  01_set_db_permissions:
    command: "chown webapp:webapp /var/app/current/db.sqlite3 && chmod 664 /var/app/current/db.sqlite3"
    ignoreErrors: true